# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# iPython
.ipynb_checkpoints

# memo
memo.txt

# Session 1
session-0/
George_W_Bush/
George_W_Bush_2/
birds/

# Session 2
img_align_celeba/
