# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# iPython
.ipynb_checkpoints

# memo
memo.txt

# Session 1
session-0/
George_W_Bush/
George_W_Bush_2/
birds/

# Session 2
img_align_celeba/

# Session 3
session-3/MNIST_data
session-3/png_manifold
session-3/png_reconstruction
session-3/gtzan_music_speech/
checkpoint
model.ckpt
model.ckpt.meta
vae.ckpt-0

# Session 4
*.tfmodel
*.zip
inception/